@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-popup { 
    bottom: 30px !important;
}

li {
    list-style-type: disc;
 }

 .article-content a {
    color: rgb(8 145 178) !important; 
 }

 /* H1-h6 definition */

 h1 {
    font-size: 35px;
 }

 h2 {
    font-size: 30px;
 }
 
 h3 {
    font-size: 35px;
 }

 h4 {
    font-size: 20px;
 }

 h5 {
    font-size: 16px;
 }

 h6 {
    font-size: 14px;
 }

.text-tiny { 
    font-size: 8px;
}

 .text-small { 
    font-size: 12px;
 }

 .text-big { 
    font-size: 25px;
 }

 .text-huge { 
    font-size: 30px;
 }
  
  th, td {
    border: 1px solid black;
    padding: 5px;
  }

 blockquote {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    padding-left: 15px;
    border-left: 5px solid black;
  } 
  
  blockquote span {
    margin-top:-10px;
    margin-bottom:-10px;
  }

  hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

a { 
    color: black !important; 
}

/*
* Blinkajuci kursor
*/
@-moz-keyframes blink {

    from,
    to {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@-webkit-keyframes blink {

    from,
    to {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@keyframes blink {

    from,
    to {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

#game-dog-div:after {
    position: absolute;
    top: 50%;
    margin-top: -150px;
    content: ' ';
    width: 2px;
    height: 300px;
    background: #343434;
    animation: 1s blink step-end infinite;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
}


/*
* Slajd desno za kuče na početnoj
*/
@keyframes slide-right {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
        transform: translateX(-50%);
        pointer-events: none;
    }

    75% {
        opacity: 1;
        pointer-events: initial;
    }

    100% {
        /* visibility: visible; */
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

/*
* Slajd desno i levo na movement index pageu
*/
@keyframes slide-right-movement {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
        transform: translateX(-90%);
    }

    75% {
        opacity: 0.85;
    }

    100% {
        /* visibility: visible; */
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@keyframes slide-left-movement {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
        transform: translateX(90%);
    }

    75% {
        opacity: 0.85;
    }

    100% {
        /* visibility: visible; */
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}


#game-dog-icon {
    -webkit-animation: slide-right 1.6s ease-out normal 1 forwards;
    animation: slide-right 1.6s ease-out normal 1 forwards;
}

#circle-link-5 {
    -webkit-animation: slide-right-movement 1s normal 1 forwards;
    animation: slide-right-movement 1s normal 1 forwards;
}

#circle-link-4 {
    -webkit-animation: slide-right-movement 0.6s normal 1 forwards;
    animation: slide-right-movement 0.6s normal 1 forwards;
}

#circle-link-1 {
    -webkit-animation: slide-left-movement 1s normal 1 forwards;
    animation: slide-left-movement 1s normal 1 forwards;
}

#circle-link-2 {
    -webkit-animation: slide-left-movement 0.6s normal 1 forwards;
    animation: slide-left-movement 0.6s normal 1 forwards;
}

/*
* Slajd levo za kuče na početnoj
*/
@keyframes slide-left {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
        transform: translateX(50%);
        pointer-events: none;
    }

    75% {
        opacity: 1;
        pointer-events: initial;
    }

    100% {
        /*  visibility: visible; */
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

#movement-dog-icon {
    -webkit-animation: slide-left 1.6s ease-out normal 1 forwards;
    animation: slide-left 1.6s ease-out normal 1 forwards;
}

/*
* Senka za krugove na Movement strani
*/
#circle-link {
    -webkit-box-shadow: 0 3px 12px rgba(27, 31, 35, 0.15);
    -moz-box-shadow: 0 3px 12px rgba(27, 31, 35, 0.15);
    box-shadow: 0 3px 12px rgba(27, 31, 35, 0.15);
}

/*
* Movement strana transition za krugove na ulazu
*/
#circle-link {}


/*
* Slajd elemente na Arts strani
*/
@keyframes slide-top-movement {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 0;
        transform: translateY(120%);
    }

    90% {
        opacity: 0.85;
    }

    100% {
        /* visibility: visible; */
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

#arts-button-1 {
    -webkit-animation: slide-top-movement 0.6s normal 1 forwards;
    animation: slide-top-movement 0.6s normal 1 forwards;
}

@keyframes slide-left1-movement {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 0;
        transform: translateX(120%);
    }

    90% {
        opacity: 0.85;
    }

    100% {
        /* visibility: visible; */
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

#arts-button-2 {
    -webkit-animation: slide-left1-movement 0.4s normal 1 forwards;
    animation: slide-left1-movement 0.4s normal 1 forwards;
}

@keyframes slide-right1-movement {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 0;
        transform: translateX(-120%);
    }

    90% {
        opacity: 0.85;
    }

    100% {
        /* visibility: visible; */
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

#arts-button-3 {
    -webkit-animation: slide-right1-movement 0.8s normal 1 forwards;
    animation: slide-right1-movement 0.8s normal 1 forwards;
}

@keyframes slide-left-bottom-movement {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 0;
        transform: translate(70%, -120%);
    }

    90% {
        opacity: 0.85;
    }

    100% {
        /* visibility: visible; */
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

#arts-button-4 {
    /*opacity: 0;*/
    -webkit-animation: slide-left-bottom-movement 1.2s normal 1 forwards;
    animation: slide-left-bottom-movement 1.2s normal 1 forwards;
    /*animation-delay: 0.4s;*/
}

@keyframes slide-right-bottom-movement {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 0;
        transform: translate(-70%, -120%);
    }

    90% {
        opacity: 0.85;
    }

    100% {
        /* visibility: visible; */
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

#arts-button-5 {
    /*opacity: 0;*/
    -webkit-animation: slide-right-bottom-movement 1s normal 1 forwards;
    animation: slide-right-bottom-movement 1s normal 1 forwards;
    /*animation-delay: 0.2s;*/
}

/*Circular background animation*/
#circular-progress-animation {
    -webkit-animation: circular-progress 2s 1 ease-in normal forwards;
    -moz-animation: circular-progress 2s 1 ease-in normal forwards;
    -o-animation: circular-progress 2s 1 ease-in normal forwards;
    animation: circular-progress 2s 1 ease-in normal forwards;
}

@-webkit-keyframes circular-progress {
    from {
        stroke-dashoffset: 284.744;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@-moz-keyframes circular-progress {
    from {
        stroke-dashoffset: 284.744;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@-o-keyframes circular-progress {
    from {
        stroke-dashoffset: 284.744;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes circular-progress {
    from {
        stroke-dashoffset: 284.744;
    }

    to {
        stroke-dashoffset: 0;
    }
}

/* Import za font Sobakaisti */
@font-face {
    font-family: 'SOBAKAISTI';
    src: url('/src/assets/fonts/sobakaisti.ttf') format('woff');
}

/* <a> element stil */
/* a { 
    color: rgb(8 145 178);
}

a:hover { 
    color: rgb(234 179 8);
} */

@media only screen and (max-width: 768px) {
    #game-dog-icon {
        -webkit-animation: slide-right 1s ease-out normal 1 forwards;
        animation: slide-right 1s ease-out normal 1 forwards;
    }

    #movement-dog-icon {
        -webkit-animation: slide-left 1s ease-out normal 1 forwards;
        animation: slide-left 1s ease-out normal 1 forwards;
    }
}

@media only screen and (max-width: 400px) {
    #game-dog-icon {
        -webkit-animation: slide-right 0.6s ease-out normal 1 forwards;
        animation: slide-right 0.6s ease-out normal 1 forwards;
    }

    #movement-dog-icon {
        -webkit-animation: slide-left 0.6s ease-out normal 1 forwards;
        animation: slide-left 0.6s ease-out normal 1 forwards;
    }
}

#vocabulary-scroll {
    scroll-behavior: smooth !important;
  }